# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: dadfc0fc76e4b2929315d8fa11403efe41e2f2b619cfbedc82c45f969b01f9b51246c88dc297cf9c466cc9856d564736677804a5e0f8e713935d3001a4bdb1c9

test:
  secret_key_base: b5aad24915807111673e2cd060b94df820a51b263305c262dc5606ae35f1e19da9c032be07f8be9e0ebafceaadcca481ccfbcd0fb883e2adcb5acb10d2ebe49b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
